.App {
  text-align: center;
  margin: auto;
  width: 95%;
}

.Category {
  margin: 3px;
}

.Navbar {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ProductList {
  width: calc(100% - 80px);
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}